@import "../_variables.scss";

.card-container {
  background-color: $sec-background;
  border-radius: $border-radius;
  margin: 2rem auto 2rem auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 95%;
  display: flex;
  width: 750px;

  & > h1 {
    margin: 1rem auto 1rem auto;
  }

  & > p {
    margin: 0.5rem auto 2rem auto;
  }

  & > .card-image {
    margin-top: 2rem;
    height: 128px;
    width: auto;
    border-radius: 50%;
  }

  & > a {
    margin-bottom: 0.5rem;
  }

  & > a:last-child {
    margin-bottom: 2rem;
  }
}

.post {
  text-decoration: none;

  h3 {
    margin: 1rem 0 0 0;
    font-size: 2rem;
  }
  .date {
    font-size: 1rem;
    color: #bbb;
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(1.025);
    background-color: $sec-alt-background;
  }
}

.post-image {
  width: 500px;
  height: auto;
  max-width: 95%;
  margin-top: 1.5rem;
  border-radius: $border-radius;
}
