$background: #1f2541;
$sec-background: #272e4e;
$sec-alt-background: #2a3150;
$foreground-light: #ffffff;
$foreground: #fafafa;
$accent: #7adeff;
$light-accent: #a9e9fe;
$border-radius: 12px;
$spacing: 8px;
