@use "fonts";
@import "_variables";

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track-piece {
  background-color: $background;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: $sec-background;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: $background;
  text-align: center;
}

p,
a {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  color: $foreground;
  font-size: 1.25rem;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  color: #dadada;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Excon";
  font-weight: 900;
  font-size: 2.25rem;
  color: $foreground-light;
}

code {
  position: relative;
  font-size: 1rem;
  background-color: $sec-background;
  padding: 3px;
  border-radius: 3px;
  bottom: 0.25rem;
}

@media (prefers-reduced-motion) {
  * {
    animation-name: none !important;
  }
}

.emoji > svg {
  height: 1.25rem;
  margin: 0 0 0.25rem 0.25rem;
  vertical-align: middle;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.a-button {
  padding: 0.75rem;
  color: $background;
  text-decoration: none;
  background-color: $accent;
  border-radius: $border-radius;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    color: $background;
    background-color: $light-accent;
  }
}

.a_nother-button {
  padding: 0.75rem;
  color: $background;
  text-decoration: none;
  background-color: #dadada;
  border-radius: $border-radius;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    color: $background;
    background-color: #eee;
  }
}
