@import "_variables.scss";

h1 {
  margin: 1rem auto 0.5rem auto;
}

.post-text {
  text-align: left;
}

.small > p {
  .emoji > svg {
    height: 1rem;
  }

  white-space: nowrap;
  color: #dadada !important;
  font-size: 1rem !important;
  margin-bottom: 1.25rem;
  margin-left: 0;
}

.date,
.post-footer {
  &,
  & > a {
    color: #dadada !important;
    font-size: 1rem !important;
  }
}
