@import "_variables.scss";

img {
  width: auto;
  width: 1000px;
  max-width: 95%;
  border-radius: $border-radius;
}

h1 {
  margin: 1rem auto 0.5rem auto;
}

.date, .post-footer {
  &, & > a {
    color: #dadada !important;
    font-size: 1rem !important;
  }
}

