---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Markdown } from 'astro/components'
let allPosts = await Astro.glob('../pages/blog/*.md');
allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));
---
<BaseLayout>
{allPosts.slice(0, 5).map((post) => (
<article>
    <a href={post.url}><h3>{post.frontmatter.title}</h3></a>
    <p>{post.frontmatter.description}</p>
    <p>{new Date(post.frontmatter.date).toISOString().slice(0, 10)}</p>
    <a href={post.url} class="a-button">Read more</a>
</article>
))}
</BaseLayout>