---
// Style Imports
import "../styles/global.scss";
import "../styles/Home.scss";
import { Icon } from "astro-icon";
import BaseLayout from "../layouts/BaseLayout.astro";
import ParallaxEffect from "../components/Parallax.jsx";
let title = "Home";
let description =
  "The personal website of Pukima, a software developer and photographer based in Kiel, Northern Germany. Here you can find everything about him.";
---

<BaseLayout {title} {description}>
  <div style="overflow: hidden;">
    <div class="home-card">
      <h1 class="fade-in" style="font-size: 3.5rem">Pukima</h1>
      <p class="fade-in">
        Heya! I am Pukima (also called Jaron irl) and I am a developer and
        photographer based in Northern Germany.
      </p>
      <div class="home-links fade-in">
        <a
          href="https://tiktok.com/@punkima"
          target="_blank"
          rel="norefferer"
          class="social tiktok"><Icon name="fa-brands:tiktok" /></a
        >
        <a
          href="https://twitter.com/pukimaaa"
          target="_blank"
          rel="norefferer"
          class="social twitter"><Icon name="fa-brands:twitter" /></a
        >
        <a
          href="https://github.com/Pukimaa"
          target="_blank"
          rel="norefferer"
          class="social github"><Icon name="fa-brands:github-alt" /></a
        >
        <a
          href="https://discord.gg/ngkUdXQZ8P"
          target="_blank"
          rel="norefferer"
          class="social discord"><Icon name="fa-brands:discord" /></a
        >
      </div>
    </div>
    <ParallaxEffect client:load />
  </div>
</BaseLayout>
