---
import "../styles/components/Card.scss";
import { Image } from "astro:assets";

const { image, title, description } = Astro.props;
---

<div class='card-container'>
  <Image
    src={image}
    width='128'
    height='128'
    class='card-image'
    alt={"Logo of " + title}
  />
  <h1>{title}</h1>
  <p>{description}</p>
  <slot />
</div>
