---
import "../styles/components/Card.scss";
import XElement from 'astro-xelement'
const { image, title, description } = Astro.props;
---

<XElement @is="div" class="card-container" @visible:once={(event) => {
  event.target.animate({ opacity: [0, 1] }, 1000);
}}>
  <img src={image} width="128" height="128" class="card-image" alt={"Logo of " + title} />
  <h1>{title}</h1>
  <p>{description}</p>
  <slot />
</XElement>
