---
const currentSite = Astro.url.pathname;
---

<div>
  <img src="/assets/logo.svg" height={50} width={50} alt="Logo" />
  <a href="/">
    Home
  </a>
  <a href="/portfolio">
    Portfolio
  </a>
  <a href="/blog">
    Blog
  </a>
</div>

<style lang="scss">
  img {
    float: left;
    padding: 12px;
    background-color: transparent;
  }

  div {
    overflow: hidden;
    z-index: 100;
  }

  div a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 3px;
    margin-top: 0.75rem;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
  }

  /* Change the color of links on hover */
  div a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add an active class to highlight the current page */
  div a.active {
    text-decoration: underline;
  }

  @media screen and (max-width: 400px) {
    div a {
      font-size: 1.25rem;
    }
  }
</style>
