<script>
  import Parallax from "parallax-js";

  var scene = document.getElementById("scene");
  new Parallax(scene);
</script>

<div id="scene">
  <div data-depth="1" class="parallax"></div>
</div>
