---
import "../styles/components/Card.scss";
import XElement from 'astro-xelement'
const { url, title, description, date, image, tags = [] } = Astro.props;
---
<XElement @is="a" href={url} class="card-container post" @visible:once={(event) => {
  event.target.animate({ opacity: [0, 1] }, 1000);
}}>
  <img class="post-image" src={image} />
  <h3>{title}</h3>
  <p class="date">{tags.join(", ")}</p>
  <p class="date">{new Date(date).toISOString().slice(0, 10)}</p>
  <p>{description}</p>
</XElement>
