---
import "../styles/components/Card.scss";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
const { url, title, description, date, image, readingTime = "0" } = Astro.props;
---

<a href={url} class='card-container post'>
  <Image
    class='post-image'
    src={image}
    width='500'
    height='280'
    alt={"Cover for: " + title}
  />
  <h2>{title}</h2>
  <div class='small'>
    <p>
      <i class='emoji'><Icon name='fa-solid:clock' /></i>
      {readingTime < 1 ? 1 : Math.round(readingTime)} min
    </p>
    <p>
      <i class='emoji'><Icon name='fa-solid:calendar' /></i>
      {new Date(date).toISOString().slice(0, 10)}
    </p>
  </div>
  <p>{description}</p>
</a>
