---
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.scss";

const { title, description } = Astro.props;
---
<html dir="ltr" lang="en">
  <Head title={title} description={description} />
  <body>
    <Nav />
    <main id="swup" class="transition-fade">
      <slot />
    </main>
    <!-- <script type="module" src="/swup.js"></script> -->
  </body>
</html>
