---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";
import "../../styles/global.scss";

const title = "Portfolio";
---

<BaseLayout
  title={title}
  description="All worth to mention projects showing off Pukima's skills and expertise."
>
  <Card
    image="/assets/portfolio/tako.png"
    title="Tako"
    description="A revolutionary Discord bot that aims to have everything needed. It's 100% free and open-source."
  >
    <!-- <a
      href="/portfolio/tako"
      class="a-button"
      >Learn more
    </a> -->
    <a
      href="https://top.gg/bot/878366398269771847"
      target="_blank"
      rel="norefferer"
      class="a-button"
      >View on top.gg
    </a>
  </Card>
</BaseLayout>
