---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/global.scss";

const title = "Portfolio - Tako";
---

<BaseLayout
  title={title}
  description="A revolutionary Discord bot that aims to have everything needed. It's 100% free and open-source."
>
  <h1>soon™️</h1>
</BaseLayout>
